<ion-view title="TimeCard">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="date" placeholder="Date" ng-model="tc.passDate">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Hours" ng-model="tc.hours">
                <!-- when timer button pressed save button will be 
                un-changed -->
                <button class="button icon ion-ios-clock-outline"></button>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Projects
                </div>
                <select ng-model="tc.project">
                    <option ng-repeat="item in projects" value="{{inumbertem.sys_id}}">
                        {{item.short_description}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input label">
                    Stories
                </div>
                <select ng-model="tc.story">
                    <option ng-repeat="item in stories" value="{{item.sys_id}}">
                        {{item.number}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input label">
                    Tasks
                </div>
                <select ng-model="tc.task">
                    <option ng-repeat="item in tasks" value="{{item.sys_id}}">
                        {{item.number}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input label">
                    Category
                </div>
                <select ng-model="tc.category">
                    <option ng-repeat="item in category" value="{{item.value}}">
                        {{item.name}}
                    </option>
                </select>
            </label>
            <ion-checkbox ng-model="tc.billable">Billable</ion-checkbox>
            <label class="item item-input">
                <textarea rows="3" placeholder="Comments" ng-model="tc.comments"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <button class="button button-dark" href="#" ng-click="saveTC()">save</button>
            <button class="button button-dark" href="#" ng-click="resetTc()">reset</button>
            <button class="button button-dark" href="#" ng-click="submitTC()">Submit</button>
        </div>
    </ion-footer-bar>
</ion-view>
