<ion-view title="TimeCard">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="date" placeholder="Date" ng-model="tc.passDate">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Hours" ng-model="tc.hours" required>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Project</h3>
                </div>
                <select ng-model="tc.u_project">
                    <option ng-repeat="project in projects" value="{{project.sys_id}}" required>
                        {{project.short_description}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Story</h3>
                </div>
                <select ng-model="tc.story">
                    <option ng-repeat="story in stories" value="{{story.sys_id}}">
                        {{story.number}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Task</h3>
                </div>
                <select ng-model="tc.task">
                    <option ng-repeat="task in tasks" value="{{task.sys_id}}">
                        {{task.number}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Category</h3>
                </div>
                <select ng-model="tc.category">
                    <option ng-repeat="item in category" value="{{item.value}}">
                        {{item.name}}
                    </option>
                </select>
            </label>
            <ion-checkbox ng-model="tc.u_billable">Billable</ion-checkbox>
            <label class="item item-input">
                <textarea rows="3" placeholder="Notes" ng-model="tc.comments"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <button class="button button-dark" ng-click="saveTC()" ng-disabled="!tc.hours && !tc.u_project && (!tc.task || !tc.story)">Save</button>
            <button class="button button-dark" ng-click="resetTC()">Reset</button>
        </div>
    </ion-footer-bar>
</ion-view>
