<ion-view title="Time Card">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="date" placeholder="Date" ng-model="tc.passDate" readonly>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Hours</span>
                <input type="text" placeholder="Hours" ng-model="tc.hours">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">
                    <h3>Customer</h3>
                </span>
                <select ng-model="tc.u_customer" ng-options="customer.sys_id as customer.name for customer in customers">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Project</h3>
                </div>
                <select ng-model="tc.u_project" ng-options="project.sys_id as project.short_description for project in projects">
                    <!-- <option ng-repeat="project in projects" value="{{project.sys_id}}">
                        {{project.short_description}}
                    </option> -->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Story</h3>
                </div>
                <select ng-model="tc.story" ng-options="story.sys_id as story.number for story in stories">
                    <!-- <option ng-repeat="story in stories" value="{{story.sys_id}}">
                        {{story.number}}
                    </option> -->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Task</h3>
                </div>
                <select ng-model="tc.task" ng-options="task.sys_id as task.number for task in tasks">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Category</h3>
                </div>
                <select ng-model="tc.category" ng-options="item.value as item.name for item in category">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>State</h3>
                </div>
                <select ng-model="tc.state">
                    <option ng-repeat="state in states" value="{{state}}"> {{state}}
                    </option>
                </select>
            </label>
            <ion-checkbox ng-checked="{{tc.u_billable}}" ng-click="changeBillable()">Billable </ion-checkbox>
            <label class="item item-input">
                <textarea rows="3" placeholder="Notes" ng-model="tc.comments"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <button class="button" ng-click="updateTC()" ng-disabled="!tc.hours && !tc.u_project && (tc.task || tc.story)">Update</button>
            <button class="button" ng-click="resetTC()">Reset</button>
        </div>
    </ion-footer-bar>
</ion-view>
