<ion-view title="TimeCard">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="date" placeholder="Date" ng-model="tc.passDate" readonly>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Hours" ng-model="tc.hours">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Projects</h3>
                </div>
                <select ng-model="tc.u_project">
                    <option ng-repeat="project in projects" value="{{project.sys_id}}">
                        {{project.short_description}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Stories</h3>
                </div>
                <select ng-model="tc.story">
                    <option ng-repeat="story in stories" value="{{story.sys_id}}">
                        {{story.number}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Tasks</h3>
                </div>
                <select ng-model="tc.task">
                    <option ng-repeat="task in tasks" value="{{task.sys_id}}">
                        {{task.number}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>Category</h3>
                </div>
                <select ng-model="tc.category" ng-options="item.value as item.name for item in category">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <h3>State</h3>
                </div>
                <select ng-model="tc.state">
                    <option ng-repeat="state in states" value="{{state}}"> {{state}}
                    </option>
                </select>
            </label>
            <ion-checkbox ng-checked="{{tc.u_billable}}" ng-click="changeBillable()">Billable </ion-checkbox>
            <label class="item item-input">
                <textarea rows="3" placeholder="Notes" ng-model="tc.comments"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <button class="button button-dark" ng-click="updateTC()" ng-disabled="!tc.hours && !tc.u_project && (tc.task || tc.story)">Update</button>
            <button class="button button-dark" ng-click="resetTC()">Reset</button>
            <button class="button button-dark" ng-click="submitTC()" ng-disabled="!tc.hours && !tc.u_project && (tc.task || tc.story)">>Submit</button>
        </div>
    </ion-footer-bar>
</ion-view>
