<ion-view view-title="VTime">
    <ion-content>
        <div class="row rect">
            <p>days</p>
        </div>
        <div class="row rect">
            <p>week</p>
        </div>
        <div class="row rect">
            <p>Month</p>
        </div>
        <div class="row rect">
            <div class="col rect-box">
                <p>Statistics</p>
            </div>
            <div class="col">
                <p>Reports</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <a class="button button-dark icon-left ion-ios-timer-outline " href="#" ng-click="getTimeCardsPanel()">VTcard</a>
            <a class="button button-dark icon-left ion-ios-analytics-outline" href="#" ng-click="getStatusPanel()">Status</a>
            <a class="button button-dark icon-left ion-ios-stopwatch-outline" href="#" ng-click="getTimersPanel()">Timers</a>
        </div>
    </ion-footer-bar>
</ion-view>
