<ion-view view-title="Sign-In" hide-nav-bar="true">
    <ion-content>
        <form class="padding" ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username" ng-disabled="loginStatus == 'Logging in'">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password" ng-disabled="loginStatus == 'Logging in'">
                </label>
                <label class="item">
                    <!-- add more validations -->
                    <button class="button icon-left ion-log-in button-block button-positive" ng-disabled="!loginData.username || !loginData.password" ng-disabled="loginStatus == 'Logging in' " type="submit">
                        <span ng-show="loginStatus == 'Logging in'">
                        <ion-spinner icon="spiral"></ion-spinner>
                        </span>
                         {{loginStatus}}
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
