<ion-view view-title="No Network" cache-view="false" hide-nav-bar="true">
    <ion-content>
        <div class="row">
            <div class="col-100">
                <img src="img/No_Network_fc-512.png" alt="No Active Network Connections" height="250" width="250" />
                <h4>No Active Network Connections</h4>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div style="padding:5px;"><p>&copy; volteo.com,2016</p></div>
    </div>
</ion-view>
