<ion-view view-title="Status">
    <ion-nav-buttons side="right">
        <button class="button icon ion-refresh" ng-click="refreshTimecards()">
        </button>
    </ion-nav-buttons>
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <ion-tab title="Pending">
                <ion-view>
                    <ion-content>
                        <ion-list>
                            <div ng-repeat="timecard in timecards">
                                <ion-item class="item-stable" ng-if="timecard.state == 'Pending'" ng-click=" toggleGroupPen(timecard) " ng-class="{active: isGroupShownPen(timecard)} ">
                                    <span class="text-align-left ">
                      <i class="icon icon ion-ios-timer TCitem "></i>
                     </span> &nbsp; {{timecard.u_number}}
                                    <i class="icon text-align-right " ng-class="isGroupShownPen(timecard) ? 'ion-ios-circle-outline' : 'ion-ios-circle-filled' "></i>
                                </ion-item>
                                <ion-item class="item-accordion " ng-show="isGroupShownPen(timecard) ">
                                    <p>Project:&nbsp;{{getProjectNumberBySysID(timecard.u_project.value)}}</p>
                                    <p ng-if="timecard.task ">Task:&nbsp;{{getTaskNumberBySysID(timecard.task.value)}}</p>
                                    <p ng-if="timecard.u_story ">Story:&nbsp;{{getStoryNumberBySysID(timecard.u_story.value)}}</p>
                                    <p>Hours:&nbsp;{{timecard.total}}</p>
                                    <p>Category:&nbsp;{{timecard.category}}</p>
                                    <p>Billable:&nbsp;{{timecard.u_billable}}</p>
                                    <p>Week starts on:&nbsp;{{timecard.week_starts_on}}</p>
                                    <div>
                                        <div class="row header">
                                            <div class="col text-center cols">sun</div>
                                            <div class="col text-center cols">mon</div>
                                            <div class="col text-center cols">tue</div>
                                            <div class="col text-center cols">wed</div>
                                            <div class="col text-center cols">thu</div>
                                            <div class="col text-center cols">fri</div>
                                            <div class="col text-center cols">sat</div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-center cols">{{timecard.sunday}}</div>
                                            <div class="col text-center cols">{{timecard.monday}}</div>
                                            <div class="col text-center cols">{{timecard.tuesday}}</div>
                                            <div class="col text-center cols">{{timecard.wednesday}}</div>
                                            <div class="col text-center cols">{{timecard.thursday}}</div>
                                            <div class="col text-center cols">{{timecard.friday}}</div>
                                            <div class="col text-center cols">{{timecard.saturday}}</div>
                                        </div>
                                    </div>
                                    <button class="button button-block button-positive" ng-click="submitTimecard(timecard.sys_id)">
                                        Submit Timecard
                                    </button>
                                    <button class="button button-block button-positive" ng-click="deleteTimecard(timecard.sys_id)">Delete Timecard</button>
                                </ion-item>
                            </div>
                        </ion-list>
                        <ion-list class="padding" ng-if="timecards.length == 0 || pending == 0">
                            <ion-item>
                                <h2 class="text-center"> '0' Pending Timecards</h2>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Submitted ">
                <ion-view>
                    <ion-content>
                        <ion-list>
                            <div ng-repeat="timecard in timecards">
                                <ion-item class="item-stable" ng-if="timecard.state == 'Submitted'" ng-click=" toggleGroupSub(timecard) " ng-class="{active: isGroupShownSub(timecard)} ">
                                    <span class="text-align-left ">
                      <i class="icon icon ion-ios-timer TCitem "></i>
                     </span> &nbsp; {{timecard.u_number}}
                                    <i class="icon text-align-right " ng-class="isGroupShownSub(timecard) ? 'ion-ios-circle-outline' : 'ion-ios-circle-filled' "></i>
                                </ion-item>
                                <ion-item class="item-accordion " ng-show="isGroupShownSub(timecard) ">
                                    <p>Project:&nbsp;{{getProjectNumberBySysID(timecard.u_project.value)}}</p>
                                    <p ng-if="timecard.task ">Task:&nbsp;{{getTaskNumberBySysID(timecard.task.value)}}</p>
                                    <p ng-if="timecard.u_story ">Story:&nbsp;{{getStoryNumberBySysID(timecard.u_story.value)}}</p>
                                    <p>Hours:&nbsp;{{timecard.total}}</p>
                                    <p>Category:&nbsp;{{timecard.category}}</p>
                                    <p>Billable:&nbsp;{{timecard.u_billable}}</p>
                                    <p>Week starts on:&nbsp;{{timecard.week_starts_on}}</p>
                                </ion-item>
                            </div>
                        </ion-list>
                        <ion-list class="padding" ng-if="timecards.length == 0 || submitted == 0">
                            <ion-item>
                                <h2 class="text-center">'0' Submitted Timecards</h2>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Approved ">
                <ion-view>
                    <ion-content>
                        <ion-list>
                            <div ng-repeat="timecard in timecards">
                                <ion-item class="item-stable" ng-if="timecard.state == 'Processed'|| timecard.state == 'Approved' " ng-click=" toggleGroupApp(timecard) " ng-class="{active: isGroupShownApp(timecard)} ">
                                    <span class="text-align-left ">
                      <i class="icon icon ion-ios-timer TCitem "></i>
                     </span> &nbsp; {{timecard.u_number}}
                                    <i class="icon text-align-right " ng-class="isGroupShownApp(timecard) ? 'ion-ios-circle-outline' : 'ion-ios-circle-filled' "></i>
                                </ion-item>
                                <ion-item class="item-accordion " ng-show="isGroupShownApp(timecard) ">
                                    <p>Project:&nbsp;{{getProjectNumberBySysID(timecard.u_project.value)}}</p>
                                    <p ng-if="timecard.task ">Task:&nbsp;{{getTaskNumberBySysID(timecard.task.value)}}</p>
                                    <p ng-if="timecard.u_story ">Story:&nbsp;{{getStoryNumberBySysID(timecard.u_story.value)}}</p>
                                    <p>Hours:&nbsp;{{timecard.total}}</p>
                                    <p>Category:&nbsp;{{timecard.category}}</p>
                                    <p>Billable:&nbsp;{{timecard.u_billable}}</p>
                                    <p>Week starts on:&nbsp;{{timecard.week_starts_on}}</p>
                                </ion-item>
                            </div>
                        </ion-list>
                        <ion-list class="padding" ng-if="timecards.length == 0 || approvedProcessed == 0">
                            <ion-item>
                                <h2 class="text-center"> '0' Approved or Processed Timecards</h2>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Rejected">
                <ion-view>
                    <ion-content>
                        <ion-list>
                            <div ng-repeat="timecard in timecards">
                                <ion-item class="item-stable" ng-if="timecard.state == 'Rejected'" ng-click=" toggleGroupRej(timecard) " ng-class="{active: isGroupShownRej(timecard)} ">
                                    <span class="text-align-left ">
                      <i class="icon icon ion-ios-timer TCitem "></i>
                     </span> &nbsp; {{timecard.u_number}}
                                    <i class="icon text-align-right " ng-class="isGroupShownRej(timecard) ? 'ion-ios-circle-outline' : 'ion-ios-circle-filled' "></i>
                                </ion-item>
                                <ion-item class="item-accordion " ng-show="isGroupShownRej(timecard) ">
                                    <p>Project:&nbsp;{{getProjectNumberBySysID(timecard.u_project.value)}}</p>
                                    <p ng-if="timecard.task">Task:&nbsp;{{getTaskNumberBySysID(timecard.task.value)}}</p>
                                    <p ng-if="timecard.u_story ">Story:&nbsp;{{getStoryNumberBySysID(timecard.u_story.value)}}</p>
                                    <p>Hours:&nbsp;{{timecard.total}}</p>
                                    <p>Category:&nbsp;{{timecard.category}}</p>
                                    <p>Billable:&nbsp;{{timecard.u_billable}}</p>
                                    <p>Week starts on:&nbsp;{{timecard.week_starts_on}}</p>
                                </ion-item>
                            </div>
                        </ion-list>
                        <ion-list class="padding" ng-if="timecards.length == 0 || rejected == 0">
                            <ion-item>
                                <h2 class="text-center"> '0' Rejected Timecards</h2>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-view>
            </ion-tab>
    </ion-pane>
</ion-view>
