<ion-view view-title="Stories">
    <ion-nav-buttons side="right">
        <button class="button icon ion-ios-loop-strong" ng-click="syncStories()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-repeat="story in stories">
                <ion-item class="item-stable" ng-click="toggleGroup(story)" ng-class="{active: isGroupShown(story)}">
                    <span class="text-align-left">
                      <i class="icon ion-ios-list TCmenu"></i>
                     </span> 
                     &nbsp;
                    {{story.number}}
                    <i class="icon text-align-right" ng-class="isGroupShown(story) ? 'ion-ios-circle-outline' : 'ion-ios-circle-filled'"></i>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(story)">
                    <p>Description:&nbsp;{{story.short_description}}</p>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
