<ion-view view-title="Timecards">
    <ion-nav-buttons side="right">
        <button class="button icon ion-ios-loop-strong" ng-click="syncTimecards()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-repeat="timecard in timecards">
                <ion-item class="item-stable" ng-click="toggleGroup(timecard)" ng-class="{active: isGroupShown(timecard)}">
                    <span class="text-align-left">
                      <i class="icon icon ion-ios-timer TCitem"></i>
                     </span> &nbsp; {{ timecard.u_number }}
                    <i class="icon text-align-right" ng-class="isGroupShown(timecard) ? 'ion-ios-circle-outline' : 'ion-ios-circle-filled'"></i>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(timecard)">
                    <p>Project:&nbsp;{{getProjectNumberBySysID(timecard.u_project.value)}}</p>
                    <p ng-if="timecard.task">Task:&nbsp;{{getTaskNumberBySysID(timecard.task.value)}}</p>
                    <p ng-if="timecard.story">Story:&nbsp;{{getStoryNumberBySysID(timecard.story.value)}}</p>
                    <p>
                        <p>Hours:&nbsp;{{timecard.total}}</p>
                        <p>state:&nbsp;{{timecard.state}}</p>
                        <p>Category:&nbsp;{{timecard.category}}</p>
                        <p>Created On:&nbsp;{{timecard.sys_created_on}}</p>
                </ion-item>
            </div>
        </ion-list>
        <ion-list class="padding" ng-if="timecards.length == 0 || pending == 0">
            <ion-item>
                <h2 class="text-center"> '0' timecards</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
