<ion-view view-title="Time - {{selDate | date:'MMM dd, yyyy'}}">
    <ion-nav-buttons side="right">
        <ionic-datepicker input-obj="datepickerObject">
            <button class="button icon ion-calendar" ng-click="getCalendar()">
            </button>
        </ionic-datepicker>
    </ion-nav-buttons>
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <ion-tab title="Day">
                <ion-view>
                    <ion-content>
                        <div>
                            <div class="list" ng-if="timecards.length == 0">
                                <a class="item text-center">No Saved Time Cards on {{selDate|date:'dd-MM-yyyy'}}</a>
                            </div>
                            <ion-list>
                                   <ion-item  class="item-avatar" ng-repeat="tc in timecards" ng-click="routeEditCard(tc.sys_id)">
                                      <span class="day-display-sizing">{{tc.selDate|date:'dd'}}</span>
                                      <h2>{{tc.selDate|date:'EEEE'}}</h2>
                                      <p ng-if="tc.task"> Task: {{tc.task}}</p> 
                                      <p ng-if="tc.story">Story: {{tc.story}}</p>
                                      <span class="text-align-right">
                                            {{tc.hours}} hrs
                                            &nbsp;
                                            <i class="icon ion-ios-arrow-forward"></i>
                                      </span>
                                      <p>Project: {{tc.u_project}}</p>
                                   </ion-item>
                            </ion-list>
                        </div>
                    </ion-content>
                    <div class="bar bar-footer">
                        <a class="button icon ion-plus-round" ng-click="routeCard()"></a>
                        <div class="title">Total: {{totalHrsDay}} hrs</div>
                        <a class="button icon ion-refresh" ng-click="refreshCards()"></a>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="Weekly">
                <ion-view>
                   <!--add header here for the view and place title as "1/10 - 7/10"-->
                    <ion-content>
                        <ion-list>
                            <ion-item class="item-avatar" ng-repeat="day in selThisWeek" ng-click="setDateFromWeekly(day)">
                                    <span class="day-display-sizing">{{day|date:'dd'}}</span>
                                    <h2> {{ day | date:'EEEE'}}</h2> 
                                    <span class="text-align-right" ng-init="totalWeek(getHoursDay(day));"> {{getHoursDay(day)}} hrs &nbsp;<i class="icon ion-ios-arrow-forward"></i> 
                                    </span> 
                                    <p>{{day|date:'MMM yyyy'}}</p>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                    <div class="bar bar-footer">
                        <div class="title">Total: {{totalHrsWeekly}} hrs </div>
                    </div>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>
