<ion-view title="TimeCard">
    <ion-content>
     <div class="list">
            <label class="item item-input">
            	<input type="date" placeholder="Date" ng-model="selDate" readonly>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Hours">
                <!-- when timer button pressed save button will be 
                un-changed -->
                <button class="button icon ion-ios-clock-outline"></button>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Projects">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Stories">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Tasks">
            </label>
            <ion-checkbox>Billable</ion-checkbox>
            <label class="item item-input">
                <textarea rows="3" placeholder="Comments"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <a class="button button-dark" href="#" ng-click="">Update</a>
            <a class="button button-dark" href="#" ng-click="">Delete</a>
            <a class="button button-dark" href="#" ng-click="">Submit</a>
        </div>
    </ion-footer-bar>
</ion-view>
