<ion-view view-title="Time - {{selDate | date:'dd/MM'}}">
    <ion-nav-buttons side="right">
        <ionic-datepicker input-obj="datepickerObject">
            <button class="button icon ion-calendar" ng-click="getCalendar()">
            </button>
        </ionic-datepicker>
    </ion-nav-buttons>
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <ion-tab title="Day">
                <ion-view>
                    <ion-content>
                        <div>
                            <div class="list" ng-if="timecards.length == 0">
                                <a class="item" href="#">No Saved Time Cards</a>
                            </div>
                            <ion-list>
                                   <ion-item  class="item-avatar" ng-repeat="tc in timecards" href="#/app/editCard:{{tc.sys_id}}">
                                      <span class="day-display-sizing">{{tc.selDate|date:'dd'}}</span>
                                      <h2>{{tc.selDate|date:'EEEE'}}</h2>
                                      <p ng-if="tc.task">{{tc.task}}</p> <p ng-if="tc.story">Story: {{tc.story}}</p>
                                      <span class="text-align-right">
                                            {{tc.hours}} hrs
                                            <i class="icon ion-ios-arrow-forward"></i>
                                      </span>
                                      <p>{{tc.selDate|date:'MMM yyyy'}}</p>
                                   </ion-item>
                            </ion-list>
                        </div>
                    </ion-content>
                    <div class="bar bar-footer">
                        <button class="button icon ion-plus-round" ng-click="routeCard()"></button>
                        <div class="title">Total: {{totalHrsDay}} hrs</div>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="Weekly">
                <ion-view>
                   <!--add header here for the view and place title as "1/10 - 7/10"-->
                    <ion-content>
                        <ion-list>
                            <ion-item class="item-avatar" ng-repeat="day in selThisWeek" href="#">
                                    <span class="day-display-sizing">{{day|date:'dd'}}</span>
                                    <h2> {{ day | date:'EEEE'}}</h2> 
                                    <span class="text-align-right"> 0.00  <i class="icon ion-ios-arrow-forward"></i> 
                                    </span> 
                                    <p>{{day|date:'MMM yyyy'}}</p>

                            </ion-item>
                        </ion-list>
                    </ion-content>
                    <div class="bar bar-footer">
                        <button class="button" ng-click="showToast()">Save</button>
                        <div class="title">Total: {{totalHrsWeekly}} hrs </div>
                        <button class="button" ng-click="">Submit</button>
                    </div>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>
