<ion-view title="TimeCard">
    <ion-content>
        <div class="list">
            <a class="item" href="#">No Saved Time Cards</a>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="button-bar">
            <a class="button button-dark" href="#" ng-click="">Update</a>
            <a class="button button-dark" href="#" ng-click="">Delete</a>
            <a class="button button-dark" href="#" ng-click="">Submit</a>
        </div>
    </ion-footer-bar>
</ion-view>
