<ion-view view-title="Time Sheets - {{selDate | date:'dd-MM-yy'}}">
    <ion-nav-buttons side="right">
        <ionic-datepicker input-obj="datepickerObject">
            <button class="button icon ion-calendar" ng-click="getCalendar()">
            </button>
        </ionic-datepicker>
    </ion-nav-buttons>
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <ion-tab title="Day">
                <ion-view>
                    <ion-content>
                        <div class="padding">
                            <div class="list">
                                <a class="item" href="#">No Saved Time Cards</a>
                            </div>
                        </div>
                    </ion-content>
                    <div class="bar bar-footer">
                        <button class="button icon ion-plus-round" ng-click="openModal()"></button>
                        <div class="title">Total: {{totalHrsDay}} hrs</div>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="Weekly">
                <ion-view>
                    <ion-content>
                        <ul class="list">
                            <li class="item" ng-repeat="day in selThisWeek">{{day|date:'dd-MM-yy'}}</li>
                        </ul>
                    </ion-content>
                        <div class="bar bar-footer">
                            <button class="button icon-left ion-ios-analytics-outline" href="#" ng-click="">Save</button>
                            <div class="title">Total: {{totalHrsWeekly}} hrs </div>
                        </div>
                    </ion-footer-bar>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>
