/* Empty. Add your own CSS if you like */


/** Overridding Ionic Defaults */

.item-divider {
    font-weight: 310;
}


/* login */

.volteo-bgcolor {
    background: -webkit-radial-gradient(circle, #FF0D0D, #be373b);
}

.volteo-input-bgcolor {
    background: -webkit-radial-gradient(circle,#FF0D0D,   #be373b);
}

.volteo-color > h1 {
    color: white;
}

.volteo-color > img {
    height: 100px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.volteo-p {
    font-size: 17px;
    padding-top: 5px;
}

#login-btn {
    background-color: #f9f7f7;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

input[placeholder],
[placeholder],
*[placeholder] {
    color: #000;
}


/* home - Dashbboard */

.dash-profile {
    border-radius: 55%;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 63px;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    font-size: 600%;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    border: 2px solid #E6FFA2;
}

.col-100 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    min-width: 100%;
}

.dash-top {
    background-color: #444;
    margin-bottom: 6px;
}

.dash-middle {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.dash-bottom {
    height: 40vh;
}

.col-33-middle {
    border-left: 0.5px solid #eaeaea;
}

.text-panel-33 {
    padding-top: 10px;
    font-weight: 300px;
}

.text-panel-33 > h1,
h3 {
    font-weight: 300;
    font-size: 25px;
}

.text-white {
    color: #666666;
}

#day {
    background-color: none;
    /*background: -webkit-radial-gradient(circle, #e62a25, #be373b);*/
}

#week {
    background-color: none;
    /*background: -webkit-radial-gradient(circle, #e62a25, #be373b);*/
}

#month {
    background-color: none;
    /*background: -webkit-radial-gradient(circle, #e62a25, #be373b);*/
}


/* side bar menu */

.sbmenu {
    margin-right: 5px;
}

.sbmenu-noborder {
    border: none 0px;
}


/* side menu */

.bar {
    background-color: #ad2d2e;
    /*height: 170;
}*/
}

.bar .profile {
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-top: 15px;
}

.profile .name {
    color: #FFFFFF;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-weight: 200;
}

.profile-picture {
    border-radius: 50%;
}

.menu-name {
    font-weight: 200;
    font-size: 15px;
}


/*.menu .has-header {
    top: 169px;
}*/


/* timecards.html */

.TCitem {
    margin-left: 5px;
}


/* Accordian List */

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}


/* Timecard Panel */

.text-align-right {
    float: right;
    display: inline-block;
    padding-right: 3px;
}


/* Status bar - Pending,Approved,Submitted,Rejected*/

.header .col {
    border-top: solid 1px grey;
    background-color: lightgrey;
}

.timecardDetails .col:first-child {
    border-left: solid 1px grey;
}

.timecardDetails .col:last-child {
    border-right: solid 1px grey;
}

.timecardDetails .row:last-child .col {
    border-bottom: solid 1px grey;
}


/* end Status bar*/

.day-display-sizing {
    /* list item with side border radius for day and prefix day name */
    position: absolute;
    /* suffix month, year and hours and navigation icon */
    top: 20px;
    left: 20px;
    padding-top: 5px;
    padding-left: 5px;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 0px solid #959595;
    background-color: #db4543;
    color: #fff;
    font-weight: 200;
}
